@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

// Colors
$DarkGray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$VeryDarkGray: hsl(0, 0%, 27%);
$BlackModal: hsl(0, 0%, 0%, 0.5);

// Font
$Font: 'League Spartan', sans-serif;